<template>
    <div>
        <vk-table :data="cart" justified>
            <vk-table-column class="uk-width-small" title="Name" cell="name">

            </vk-table-column>
            <vk-table-column title="Price" cell="price">

            </vk-table-column>
            <vk-table-column title="Quantity" cell="quantity">

            </vk-table-column>
            <vk-table-column title="Actions" cell>
                <div slot-scope="scope">
                    <vk-button @click="incQuantity(scope.row.id)">+</vk-button>
                    <vk-button @click="decQuantity(scope.row.id)">-</vk-button>
                    <vk-button @click="removeCart(scope.row.id)">X</vk-button>
                    {{ scope.row.id }}
                </div>
            </vk-table-column>
        </vk-table>
        <div>
            <h1>{{ total }}</h1>
        </div>
    </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
    computed: {
        ...mapState({
            cart: state => state.shop.cart,
        }),
        total() {
            let total = 0;
            for (let i = 0; i < this.cart.length; i++) {
                total += (this.cart[i].quantity * this.cart[i].price)
            }
            return total
        }
    },
    methods: {
        ...mapActions({
            incQuantity: 'shop/incQuantity',
            decQuantity: 'shop/decQuantity',
            removeCart: 'shop/removeCart',
        })
    }
}
</script>
