<template>
    <vk-card>
        <div slot="media-top">
            <img :src="image" alt="">
        </div>
        <div>
            <vk-card-title>{{ price }}</vk-card-title>
            <p>{{ name }}</p>
        </div>
    </vk-card>
</template>

<script>
export default {
    props: {
        image: {
            type: String,
            default: '',
            required: true,
        },
        name: String,
        price: String,
    }
}
</script>
