<template>
  <div class="about">
    <h1 @mouseover="tryStyle" @mouseout="tryStyleOut" >This is an about page</h1>
    <v-style>
      .about {
        color: {{ color }};
      }
    </v-style>


    <card>
      Hello
      <template v-slot:footer>
        Footer ici
      </template>
    </card>




  </div>
</template>

<script>
import Card from '@/components/Card.vue'

export default {
  data () {
    return {
      color: 'green'
    }
  },
  methods: {
    tryStyle() {
      console.log('overp')
      this.color = 'red'
    },
    tryStyleOut() {
      console.log('out')
      this.color = 'blue'
    }
  },
  components: {
    Card
  }
}
</script>

<style lang="scss">
  
</style>
