<template>
    <div>
        <h3>Demo v-model.number</h3>
        <p>
            <input type="text" v-model.number="inputCount" /> - Value : {{ inputCount }}
        </p>

        <h3>Demo Inputs</h3>
        <p>
            Checkbox:<br />
            <input type="checkbox" v-model="simpleCheckbox" /> - Value: {{ simpleCheckbox }}
            <br /><br />
            A <input type="checkbox" v-model="checkboxes" value="A" /><br />
            B <input type="checkbox" v-model="checkboxes" value="B" /><br />
            {{ checkboxes }}

            <br /><br />
            <select v-model="simpleSelect">
                <option v-for="select in selects" :key="select.value" :value="select.value">{{ select.text }}</option>
            </select>
            <br />
            Value: {{ simpleSelect }}<br />
        </p>

        <h3>Radio</h3>
        <p>
            First: <input type="radio" v-model="radio" value="first" /><br />
            Second: <input type="radio" v-model="radio" value="second" /><br />
            Value: {{ radio }}
        </p>

        <h3>Textarea</h3>
        <p>
            <textarea v-model="textValue"></textarea><br />
        </p>
        Textarea: <p v-html="textValue"></p>
    </div>
</template>

<script>
export default {
    data() { return {
        inputCount: 0,
        simpleCheckbox: false,
        checkboxes: [],

        simpleSelect: '',

        selects: [
            { text: 'Hello', value: 'A' },
            { text: 'World', value: 'B' },
            { text: '!', value: 'C' }
        ],

        radio: '',

        textValue: ''
    }},
    watch: {
        inputCount(newValue, oldValue) {
            console.log(newValue, oldValue)
        }
    }
}
</script>
