<template>
    <div>
        <vk-grid>
            <div>
                <vk-pagination :page.sync="page" :perPage="per_page" :total="total">
                    <vk-pagination-page-prev></vk-pagination-page-prev>
                    <vk-pagination-pages></vk-pagination-pages>
                    <vk-pagination-page-next></vk-pagination-page-next>
                </vk-pagination>
            </div>
        </vk-grid>
        <vk-grid gutter="small" class="uk-child-width-1-4@s uk-flex-center uk-text-center">
            <div v-for="(product, i) in productPage(page)" :key="i">
                <router-link :to="'/products/' + product.id"><product-card :image="product.image" :name="product.name" :price="product.price" /></router-link>
            </div>
        </vk-grid>
    </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import ProductCard from '@/components/Shop/ProductCard.vue'
import exampleMixin from '@/mixins/example'

export default {
    mixins: [exampleMixin],
    data() { return {
        page: 0,
        per_page: 30,
    }},
    computed: {
        ...mapGetters({
            productPage: 'shop/productPage'
        }),
        ...mapState({
            total: state => state.shop.products.length,
        })
    },
    created () {
        //this.$store.dispatch('shop/loadAllProducts')
    },
    components: {
        ProductCard,
    }
}
</script>
