<template>
    <vk-grid gutter="small" class="uk-child-width-1-4@s uk-flex-center uk-text-center">
        <div>
            <h1>{{ product.name }}</h1>

            <vk-button @click="addToCart">Add to cart</vk-button>
        </div>
    </vk-grid>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    data () { return {
        product: {},
    }},
    computed: {
        ...mapGetters({
            productById: 'shop/productById'
        }),
    },
    methods: {
        addToCart() {
            this.addProductToCart(this.product.id)
        },

        ...mapActions({
            addProductToCart: 'shop/addToCart',
        })
    },
    created() {
        this.product = this.productById(this.$route.params.id)
    }
}
</script>
