<template>
    
</template>

<script>
export default {
    /* Ne pas appeler la meme methode dans "created" and watch */
    /* Solution : */
    data () { return {
        watchedData: ''
    }},
    watch: {
        watchedData: {
            immediate: true, // no need to call in created
            handler(newVal, oldVal) {
                // call a method
            }
        }
    }
}
</script>
