<template>
  <div class="todos">
    <todo-list />
  </div>
</template>

<script>
import TodoList from '@/components/Todo/TodoList'

export default {
  components: {
    TodoList
  },
  mounted() {
    console.log(this.$route.meta)
  }
}
</script>
