<template>
    <div>
        <input v-model="text" @keyup.enter="$store.dispatch('createTodo', text)" />
    </div>
</template>

<script>
export default {
    data () { return {
        text: ''
    }},
    methods: {
        addTodo () {
            this.$store.dispatch('createTodo', this.text)
        }
    }
}
</script>
