<template>
    <div>
        <input-todo />
        <todo-items />
    </div>
</template>

<script>
import TodoItems from './TodoItems.vue'
import Input from './Input.vue'

export default {
    components: {
        TodoItems,
        InputTodo: Input,
    }
}
</script>
