<template>
    <ul>
        <li v-for="(todo, index) in $store.state.todos" :key="index">
            {{ todo.text }} {{ todo.done }}
            <button @click="$store.dispatch('doneTodoFromId', todo.id)">Done</button>
            <button @click="$store.dispatch('removeTodoFromId', todo.id)">Remove</button>
        </li>
    </ul>
</template>

<script>
import { mapState } from 'vuex'

export default {
    computed: {
        ...mapState({
            // todos: function(state) { return state.todos },
            todos: state => state.todos,
        }),
        /* todos () {
            return this.$store.state.todos
        } */
    }
}
</script>
