<template>
    <div>
        <div class="header">
            Header: <slot name="header"></slot>
        </div>
        <div class="body">
            Default: <slot></slot>
        </div>
        <div class="footer">
            Footer: <slot name="footer"></slot>
        </div>
    </div>
</template>
