<template>
    <vk-navbar>

        <vk-navbar-nav>
            <router-link to="/products" class="uk-navbar-item">Products</router-link>
            <router-link to="/cart" class="uk-navbar-item">Cart</router-link>
        </vk-navbar-nav>

        <vk-navbar-nav v-if="$store.state.auth.account.id == null" slot="right">
            <router-link to="/auth" class="uk-navbar-item">Login</router-link>
            <router-link to="/auth/signup" class="uk-navbar-item">Signup</router-link>
        </vk-navbar-nav>

    </vk-navbar>
</template>
