<template>
    <div>
        <h1>Login</h1>
        <div class="uk-margin">
            Username : <input v-model="username" class="uk-input uk-form-width-medium uk-form-large" type="text" placeholder="Username"><br />
            Password : <input v-model="password" class="uk-input uk-form-width-medium uk-form-large" type="password" placeholder="Password"><br />
        </div>
        <button class="uk-button uk-button-default" @click="tryLogin">Login Me</button>
    </div>
</template>

<script>
export default {
    data() { return {
        username: '',
        password: '',
    }},
    methods: {
        tryLogin() {
            const { username, password } = this
            this.$store.dispatch('auth/login', { username, password })
        }
    }
}
</script>
